<div class="page-title">
    <div class="title_left">
        <div class="page-title">
            <div class="title_left">
                <h2><a href="{:zw_build_url('police/index')}">警务训练</a>---部队管理</h2>
            </div>
        </div>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group form-horizontal form-label-left search-input-group">
                <input type="text" class="form-control search-text" placeholder="请输入搜索内容">
                <span class="input-group-btn">
                          <button class="btn btn-success" type="submit">搜索</button>
                    </span>
            </div>
        </div>
    </div>
</div>