<style>
    .table th {text-align: center}
    .table td {text-align: center}
    .datainp { width: 200px; height: 34px;}
    .wicon { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8xNS8xNGnF/oAAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAoElEQVQ4jWPceOnNfwYqAz9dYRQ+E7UtwAaGjyUsDAyYYUgJ2HT5LXZLcEmSCnA6duOlN///////H0bDALl8dPH/////Z8FuNW6Qtvw2nL3lyjsGBgYGhlmRqnj1kGwJuqHIlhJlCXq8EOITEsdqCXLEbbr8FisfFkTo+vBZRFZwERNEFFkCiw90nxJtCalxQmzegltCzVyP1RJq5HZ8AABuNZr0628DMwAAAABJRU5ErkJggg=="); background-repeat: no-repeat; background-position: right center; }
</style>
<div class="page-title">
    <div class="title_left">
        <h2><a href="{:zw_build_url('cases/Combat')}">案件数据管理</a>---累计统计</h2>
    </div>
    <!--<div class="title_right">-->
        <!--<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">-->
            <!--<div class="input-group form-horizontal form-label-left search-input-group">-->
                <!--<input class="form-control datainp wicon " id="year" type="text" placeholder="YYYY" readonly style=" float: right;-->
    <!--width: 120px; border-radius:0; background-color: #fff ">-->
                <!--<span class="input-group-btn">-->
                    <!--<button href="javascript:;" onclick="showdata()" class="btn btn-success" type="submit" style=" border-radius:0 ">查看</button>-->
                <!--</span>-->
            <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="input-group form-horizontal form-label-left search-input-group">
                <span class="input-group-btn">
                	<div class="input-group form-horizontal form-label-left search-input-group" style="float: left;margin-right: 10px;">
		                <input class="form-control datainp wicon " id="year" type="text" placeholder="YYYY" readonly style=" float: right;
    width: 120px; border-radius:0; background-color: #fff ">
		                <span class="input-group-btn">
		                    <button href="javascript:;" onclick="showdata()" class="btn btn-success" type="submit" style=" border-radius:0 ">查看</button>
		                </span>
		            </div>
                    <button href="javascript:;" onclick="downdata()" class="btn btn-success" type="submit" style="border-radius:0 ">导出</button>
                </span>
            </div>
            <div class="x_content" style="padding: 0px;">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered" id="ta">
                        <thead>
                        <tr>
                            <th colspan="14" id="tbname">{$time['year']}年防城港{if condition="($org.type == 'place')"}{$org.p_organization}{$org.organization}{elseif condition="($org.type == 'bridge')"/}{$org.organization}{else /}支队{/if}打击处理情况统计表</th>
                        </tr>
                        <tr>
                            <th rowspan="4" colspan="2">单位/类别</th>
                            <th colspan="12">全年累计</th>
                        </tr>
                        <tr>
                            <th colspan="3">抓获违法犯罪嫌疑人</th>
                            <th colspan="7">处理情况</th>
                            <th colspan="2">打犯罪团伙</th>
                        </tr>
                        <tr>
                            <th rowspan="2">总数</th>
                            <th colspan="2">其中</th>
                            <th rowspan="2">刑事拘留</th>
                            <th rowspan="2">行政拘留</th>
                            <th rowspan="2">逮捕</th>
                            <th rowspan="2">劳教</th>
                            <th rowspan="2">罚款</th>
                            <th rowspan="2">强制戒毒</th>
                            <th rowspan="2">其他</th>
                            <th rowspan="2">总数</th>
                            <th rowspan="2">涉案人数</th>
                        </tr>
                        <tr>
                            <th>非网逃</th>
                            <th>网逃</th>
                        </tr>
                        </thead>
                        <tbody id="cases-table">
                        {volist name="list" id="vo"}
                        {if condition="($vo.type == 'bridge')"}
                        <tr>
                            <td rowspan="{$vo.s_count}">{$vo.name}</td>
                            {volist name="vo.s_data" id="temp" key="k"}
                            {if condition="($k != 1)"}<tr>{/if}
                            {volist name="temp" id="v"}
                            <td>{$v.party_org_name}</td>
                            <td>{$v.sccount}</td>
                            <td>{$v.fled}</td>
                            <td>{$v.unfled}</td>
                            <td>{$v.ts_c_custody}</td>
                            <td>{$v.ts_a_detention}</td>
                            <td>{$v.ts_arrest}</td>
                            <td>{$v.ts_imprisonment}</td>
                            <td>{$v.ts_fine}</td>
                            <td>{$v.ts_drug}</td>
                            <td>{$v.ts_other}</td>
                            <td>{$v.totalcount}</td>
                            <td>{$v.involvednum}</td>
                            {/volist}
                            {/volist}
                        </tr>
                        <tr>
                            <td colspan="2">小计</td>
                            <td>{$vo.sccount}</td>
                            <td>{$vo.fled}</td>
                            <td>{$vo.unfled}</td>
                            <td>{$vo.ts_c_custody}</td>
                            <td>{$vo.ts_a_detention}</td>
                            <td>{$vo.ts_arrest}</td>
                            <td>{$vo.ts_imprisonment}</td>
                            <td>{$vo.ts_fine}</td>
                            <td>{$vo.ts_drug}</td>
                            <td>{$vo.ts_other}</td>
                            <td>{$vo.totalcount}</td>
                            <td>{$vo.involvednum}</td>
                        </tr>

                        {elseif condition="($vo.type == 'place')"/}
                        <tr>
                            <td>{$vo.name}</td>
                            {volist name="vo.s_data" id="v"}
                            <td>{$v.party_org_name}</td>
                            <td>{$v.sccount}</td>
                            <td>{$v.fled}</td>
                            <td>{$v.unfled}</td>
                            <td>{$v.ts_c_custody}</td>
                            <td>{$v.ts_a_detention}</td>
                            <td>{$v.ts_arrest}</td>
                            <td>{$v.ts_imprisonment}</td>
                            <td>{$v.ts_fine}</td>
                            <td>{$v.ts_drug}</td>
                            <td>{$v.ts_other}</td>
                            <td>{$v.totalcount}</td>
                            <td>{$v.involvednum}</td>
                        </tr>
                        {/volist}

                        {elseif condition="($vo.type == 'special_bridge')"/}
                        <tr>
                            <td>{$vo.name}</td>
                            {volist name="vo.s_data" id="v"}
                            <td>{$v.party_org_name}</td>
                            <td>{$v.sccount}</td>
                            <td>{$v.fled}</td>
                            <td>{$v.unfled}</td>
                            <td>{$v.ts_c_custody}</td>
                            <td>{$v.ts_a_detention}</td>
                            <td>{$v.ts_arrest}</td>
                            <td>{$v.ts_imprisonment}</td>
                            <td>{$v.ts_fine}</td>
                            <td>{$v.ts_drug}</td>
                            <td>{$v.ts_other}</td>
                            <td>{$v.totalcount}</td>
                            <td>{$v.involvednum}</td>
                        </tr>
                        {/volist}

                        {else /}
                        <tr>
                            {if condition="($vo.count == 'special')"}
                            {volist name="vo.s_data" id="v"}
                            <td colspan="2">{$v.party_org_name}</td>
                            <td>{$v.sccount}</td>
                            <td>{$v.fled}</td>
                            <td>{$v.unfled}</td>
                            <td>{$v.ts_c_custody}</td>
                            <td>{$v.ts_a_detention}</td>
                            <td>{$v.ts_arrest}</td>
                            <td>{$v.ts_imprisonment}</td>
                            <td>{$v.ts_fine}</td>
                            <td>{$v.ts_drug}</td>
                            <td>{$v.ts_other}</td>
                            <td>{$v.totalcount}</td>
                            <td>{$v.involvednum}</td>
                            {/volist}
                            {else /}
                            <td rowspan="{$vo.count}">{$vo.name}</td>
                            {volist name="vo.s_data" id="v" key="k"}
                            {if condition="($k != 1)"}<tr>{/if}
                            {volist name="v" id="item"}
                            <td>{$item.party_org_name}</td>
                            <td>{$item.sccount}</td>
                            <td>{$item.fled}</td>
                            <td>{$item.unfled}</td>
                            <td>{$item.ts_c_custody}</td>
                            <td>{$item.ts_a_detention}</td>
                            <td>{$item.ts_arrest}</td>
                            <td>{$item.ts_imprisonment}</td>
                            <td>{$item.ts_fine}</td>
                            <td>{$item.ts_drug}</td>
                            <td>{$item.ts_other}</td>
                            <td>{$item.totalcount}</td>
                            <td>{$item.involvednum}</td>
                            {/volist}
                            {/volist}
                            {/if}
                        </tr>
                        {if condition="($vo.count != 'special')"}
                        <tr>
                            <td colspan="2">小计</td>
                            <td>{$vo.sccount}</td>
                            <td>{$vo.fled}</td>
                            <td>{$vo.unfled}</td>
                            <td>{$vo.ts_c_custody}</td>
                            <td>{$vo.ts_a_detention}</td>
                            <td>{$vo.ts_arrest}</td>
                            <td>{$vo.ts_imprisonment}</td>
                            <td>{$vo.ts_fine}</td>
                            <td>{$vo.ts_drug}</td>
                            <td>{$vo.ts_other}</td>
                            <td>{$vo.totalcount}</td>
                            <td>{$vo.involvednum}</td>
                        </tr>
                        {/if}
                        {/if}
                        {/volist}
                        {if $level < 4}
                        <tr>
                            <td colspan="2">总计</td>
                            <td>{$listtotal.sccount}</td>
                            <td>{$listtotal.fled}</td>
                            <td>{$listtotal.unfled}</td>
                            <td>{$listtotal.ts_c_custody}</td>
                            <td>{$listtotal.ts_a_detention}</td>
                            <td>{$listtotal.ts_arrest}</td>
                            <td>{$listtotal.ts_imprisonment}</td>
                            <td>{$listtotal.ts_fine}</td>
                            <td>{$listtotal.ts_drug}</td>
                            <td>{$listtotal.ts_other}</td>
                            <td>{$listtotal.totalcount}</td>
                            <td>{$listtotal.involvednum}</td>
                        </tr>
                        {/if}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--<div class="input-group form-horizontal form-label-left search-input-group" align="center">-->
                <!--<span class="input-group-btn">-->
                    <!--<button href="javascript:;" onclick="downdata()" class="btn btn-success" type="submit" style="border-radius:0 ">导出</button>-->
                <!--</span>-->
        <!--</div>-->
    </div>
</div>
{css href="__CSS__jedate.css"/}
{js href="__JS__multiselect.min.js,__JS__jquery.ajaxupload.js,__JS__jquery.jedate.js" /}
{js href="__JS__jquery.table2excel.js" /}
<script>
    $(document).ready(function () {
        $("#year").val('{$time.year}');
    });

    $("#year").jeDate({
        skinCell:"jedategreen",
        isinitVal:true,
        ishmsVal:false,
        isClear:false, //是否显示清空
        minDate: '1970-06-16',
        maxDate: $.nowDate(0),
        format:"YYYY",
        zIndex:3000,
    })
    function showdata() {
        var year = $("#year").val();
        window.location.href='{:zw_build_url(\'cases/cumulativestatisticsCombat\')}?year='+year;
    }
    function downdata() {
        var tbname =  $("#tbname").html();
        $("#ta").table2excel({
            exclude: ".noExl",
            name: tbname,
            filename: tbname,
            exclude_img: true,
            exclude_links: true,
            exclude_inputs: true
        });
    }
</script>