<div class="page-title">
    <div class="title_left">
        <h2><a href="{:zw_build_url('border/index')}">边管业务管理</a>---非法入境信息管理</h2>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group form-horizontal form-label-left search-input-group">
                <input type="text" class="form-control search-text" placeholder="请输入搜索内容">
                <span class="input-group-btn">
                          <button class="btn btn-success" type="submit">搜索</button>
                    </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                {if zw_get_user_role_prototype()}{else /}
                <a class="btn btn-success" href="javascript:;" onclick="addIllegal()"><span>添加信息</span></a>
                {/if}
                <a class="btn btn-success" href="{:zw_build_url('illegal/seizedsituation')}"><span>查获简要情况</span></a>
                <a class="btn btn-success" href="{:zw_build_url('illegal/monthcount')}"><span>月度统计</span></a>
                <a class="btn btn-success" href="{:zw_build_url('illegal/yearcount')}?"><span>年度统计</span></a>
                <a class="btn btn-success" href="{:zw_build_url('illegal/processcount')}"><span>处理情况统计</span></a>
                <a class="btn btn-success" href="{:zw_build_url('illegal/chartspie')}"><span>图形统计</span></a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>单位</th>
                        <th>查获时间</th>
                        <th>查获地点</th>
                        <th>查获人数</th>
                        <th>查获方式</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="illegal-table">
                    {volist name="illegal" id="item"}
                    <tr id="{$item.illegal_id }">
                        <td>{$i}</td>
                        <td>{$item.party_org_name}</td>
                        <td><?php echo(mb_substr($item['seized_time'],0,16)); ?></td>
                        <td>{$item.seized_addr}</td>
                        <td>{$item.seized_person_num}</td>
                        <td>{$item.seized_name}</td>
                        <td><?php if(strlen($item['marks']) > 25){echo(mb_substr($item['marks'],0,25).'...');}else{echo(mb_substr($item['marks'],0,25));} ?></td>
                        <td>
                            <a class="btn btn-success btn-sm" href="{:zw_build_url('illegal/illegalperson')}?id={$item.illegal_id}" data-toggle="tooltip" >人员管理</a>
                            <a class="btn btn-success btn-sm" href="javascript:;" onclick="editillegal('{$item.illegal_id}')">修改</a>
                            <a class="btn btn-sm btn-default" href="javascript:;" onclick="deleteillegal('{$item.illegal_id}')">删除</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div id="pagination-page" class="pagination_box">{$illegal->render()}</div>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） 添加 -->
<div class="modal fade" id="option_admin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="option_illegal_form" class="form-horizontal form-label-left" action="#">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加非法入境信息</h4>
                </div>
                <div class="modal-body">

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">单位:</label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input type="text" class="form-control col-md-12 col-xs-12" id="party_org_name" name="party_org_name"  required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">查获时间 <span class="required">:</span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input id="seized_time" name="seized_time" class="form-control col-md-12 col-xs-12" type="text"  readonly>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">查获地点:</label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input type="text" class="form-control col-md-12 col-xs-12" id="seized_addr" name="seized_addr" placeholder="请输入查获地点" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">查获人数:</label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input type="number" class="form-control col-md-12 col-xs-12" id="seized_person_num" name="seized_person_num" placeholder="请输入查获人数" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">查获方式:</label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <select class="form-control col-md-12 col-xs-12" name="seized_way_id" id="seized_way_id" required="required">
                                {volist name="way" id="item"}
                                <option value="{$item.seized_way_id}">{$item.seized_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">备注:</label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <input type="text" class="form-control col-md-12 col-xs-12" id="marks" name="marks" placeholder="请输入备注信息" required="required">
                        </div>
                    </div>

                    <div class="item form-group">
                        <input type="hidden" name="action_status" id="action_status">
                        <input type="hidden" name="party_org_id" id="party_org_id">
                        <input type="hidden" name="illegal_id" id="illegal_id">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-default" data-dismiss="modal">取消</a>
                    <a href="javascript:;" class="btn btn-success" onclick="saveOption()">保存</a>
                </div>

            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

{css href="__CSS__jedate.css"/}
{js href="__JS__jquery.jedate.js" /}
<script>

    /**时间控件*/
    var start = {
        skinCell:"jedategreen",
        format: 'YYYY-MM-DD hh:mm:ss',
        minDate: $.nowDate(0), //设定最小日期为当前日期
        isinitVal:true,
        ishmsVal:false
    };
    var end = {
        skinCell:"jedategreen",
        format: 'YYYY-MM-DD hh:mm:ss',
        maxDate: $.nowDate(0), //设定最小日期为当前日期
        isinitVal:true,
        ishmsVal:false
    };
    var date = {
        skinCell:"jedategreen",
        format: 'YYYY-MM-DD hh:mm:ss',
        minDate:  "1970-01-01", //设定最小日期为当前日期
        isinitVal:true,
        ishmsVal:false
    };
    function deleteillegal(id) {
        $.post('{:zw_build_url("illegal/deleteillegal")}',{id: id},function (data) {
            console.log(data);
            if(data.status === SUCCESS_CODE){
                // 删除节点
                $('#'+id).remove();
                return true;
            }else{
            }
        });
    }

    function addIllegal() {
        $('#party_org_name').val('{$org[\'party_org_name\']}');
        $('#party_org_id').val('{$org[\'party_org_id\']}');
        $('#seized_addr').val();
        $('#seized_person_num').val();
        $('#seized_way_id').val();
        $('#detection_time').val();
        $("#seized_time").jeDate(end);
        $('#seized_time').val();
        $('#marks').val();
        $('#illegal_id').val();
        $(document).on("click","#seized_time",function(){
            $(this).jeDate(end);
        });
        $('#action_status').val('insert');
        $('#myModalLabel').text('添加非法入境信息');
        $('#option_admin').modal('show');
    }

    function editillegal(id) {
        $.post('{:zw_build_url("illegal/editillegal")}',{id: id},function (data) {
            if(data.status === SUCCESS_CODE){
                $('#party_org_name').val(data.data.party_org_name);
                $('#party_org_id').val(data.data.party_org_id);
                $('#illegal_id').val(data.data.illegal_id);
                $('#seized_addr').val(data.data.seized_addr);
                $('#seized_person_num').val(data.data.seized_person_num);
                $('#seized_way_id').val(data.data.seized_way_id);
                $('#detection_time').val(data.data.detection_time);
                $('#marks').val(data.data.marks);
                $("#seized_time").jeDate(end);
                $('#seized_time').val(data.data.seized_time);
                $(document).on("click","#seized_time",function(){
                    $(this).jeDate(end);
                });
                $('#action_status').val('editor');
                $('#myModalLabel').text('修改非法入境信息');
                $('#option_admin').modal('show');
                return true;
            }else{
            }
        });
    }
    function saveOption() {
        var addr = $('#seized_addr').val();
        if(addr == ''){
            show_notice('查获地点必须填写,请输入信息再提交');
            return;
        }
        var options = {
            url: '{:zw_build_url("illegal/saveaddillegal")}',
            type: 'post',
            dataType :'json',
            success: function (data) {
                if(data.status === SUCCESS_CODE){
                    show_notice(data.message);
                    window.location.href = data.data;
                }
                else
                {
                    show_notice(data.message);
                }
            },
            timeout:6000 　　　　　 　 //设置请求时间，超过该时间后，自动退出请求，单位(毫秒)。　　　
        };
        $("#option_illegal_form").ajaxSubmit(options);
    }

    $(document).ready(function(){
        $('.search-input-group span button').click(function(){
            searchNotice($('.search-input-group .search-text').val());
        });
        $('.search-input-group .search-text').keydown(function(e){
            if(e.keyCode === 13){
                searchNotice($(this).val());
            }
        });
    });

    function searchNotice(search_info) {
        ajaxResult("{:zw_build_url('illegal/searchillegal')}" + "?search_info="+ encodeURI(search_info));
        return false;
    }

    /*处理ajax翻页，在翻页类中定义 app\admin\driver\ZzwuAjaxPage */
    function ajaxResult(url) {
        $.ajax({
            url: url,
            type:'get',
            success: function(data){
                if(data.status === SUCCESS_CODE){
                    var html = '';
                    $.each(data.data.data, function (i, item) {
                        var party_org_name = (null === item.party_org_name) ? '' : item.party_org_name;
                        var seized_time = (null === item.seized_time) ? '' : item.seized_time;
                        var seized_addr = (null === item.seized_addr) ? '' : item.seized_addr;
                        var seized_person_num = (null === item.seized_person_num) ? '' : item.seized_person_num;
                        var seized_name = (null === item.seized_name) ? '' : item.seized_name;
                        var marks = (null === item.marks) ? '' : item.marks;
                        html += '<tr id="' + item.suppress_id  + '">' +
                                '         <td scope="row">'+(i+1)+'</td>' +
                                '         <td>' + party_org_name + '</td>' +
                                '         <td>' + seized_time + '</td>' +
                                '         <td>' + seized_addr + '</td>' +
                                '         <td>' + seized_person_num + '</td>' +
                                '         <td>' + seized_name + '</td>' +
                                '         <td>' + marks + '</td>' +
                                '         <td>' +
                                '             <a class="btn btn-success btn-sm" href="{:zw_build_url(\'illegal/illegalperson\')}?id='+item.illegal_id+'" data-toggle="tooltip" >非法入境人员</a>' +
                                '             <a class="btn btn-success btn-sm" href="javascript:;" onclick="editillegal('+item.illegal_id+')">修改</a>' +
                                '             <a class="btn btn-default btn-sm" href="javascript:;" onclick="deleteillegal('+item.illegal_id+')">删除</a>' +
                                '         </td>' +
                                '    </tr>';

                    });
                    $('#illegal-table').empty().append(html);
                    $('#pagination-page').empty().append(data.data.page);
                }
                else{
                    show_notice(data.message);
                }
                return false;
            }
        });
        return false;
    }


</script>