{load href="__JS__jquery.ajaxupload.js,__JS__ztree/js/jquery.ztree.core.js,__JS__ztree/js/jquery.ztree.exedit.js,__JS__ztree/css/metroStyle/metroStyle.css" /}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" id="option_role" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static" aria-hidden="true">
            <form  method="post" action="__ROUTE__admin/user/userimport" class="pageForm required-validate" enctype="multipart/form-data" >
                <div class="pageFormContent" layoutH="20">
                    <label>上传文件：</label>
                    <!--a href="javascript:;" class="file">
                       <input type="file" class="form-control" id="input_file" name="fileurl">点击选择文件
                    </a-->
                    <input type="file" class="form-control" id="input_file" name="fileurl">
                    <button type="submit" class="btn btn-success">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

